# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Temporary files
tmp/
.DS_Store

/data
/tools/bin

frontend/node_modules/